* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
    background-color: rgb(13, 17, 23);
    color: rgb(201, 209, 217);
    scroll-behavior: smooth;
}

body {
    max-width: 40vw;
    padding: 2rem 0;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

h1 {
    font-size: 2em;
    padding-bottom: .3em;
    border-bottom: 1px solid rgb(33, 38, 45);
}

h2 {
    font-size: 1.5em;
    padding-bottom: .3em;
    border-bottom: 1px solid rgb(33, 38, 45);
}

h3 {
    font-size: 1.25em;
}

p {
    margin-bottom: 16px;
}

a {
    color: rgb(88, 166, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    unicode-bidi: isolate;
    margin-bottom: 16px;
    padding-left: 2em;
}

ul ul {
    margin-bottom: 0;
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ul#playlists {
    list-style-type: none;
    padding-left: 0;
}

code {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    font-weight: 400;
    white-space: break-spaces;
    background-color: rgba(110, 118, 129, 0.4);
    border-radius: 6px;
}

a code {
    font-weight: 600;
}

img {
    max-width: 100%;
    box-sizing: content-box;
}

body > *:last-child {
    margin-bottom: 0 !important;
}